In [ ]:
Write a python code that takes two numbers as input and performs addition, subtraction,
multiplication, and division. Print the results

In [25]:
a = 2
b = 8
c = a * b
d = a + b
e = a / b
f = a - b
print(c)
print(d)
print(e)
print(f)

16
10
0.25
-6

In [ ]:
Write a python code that takes two numbers and returns the larger of the two without using functions.

In [15]:
str=["hii", "hello"]

str2=[1,2]

str3 = str + str2
print(str3)

['hii', 'hello', 1, 2]

In [17]:
matrix = [[1, 2, 3],
          [4, 5, 6],
           [7,8,9]
]

print("elemnt in row 0, col 0:" , matrix[0][0])
print("elemnt in row 0, col 0:" , matrix[0][1])
print("elemnt in row 0, col 0:" , matrix[0][2])

for row in matrix:
    print(row)

elemnt in row 0, col 0: 1
elemnt in row 0, col 0: 2
elemnt in row 0, col 0: 3
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [27]:
str=[1,2,3,4,5,6,7,8,9,10]
str2=[55,20,60]
str.append(100)
str.extend(str2)
print(str)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 55, 20, 60]

In [ ]:
str=[]
for i in range(5):
    str.append(input())

print(str)

str2=str[4:1:-1]
str2.reverse()
print(str2)

In [3]:
students={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}



x=students.keys()
print(x)




y= len(students)

students.pop('Jenny')

students['Lisa'] = 'Green'
print(y)

print(students)

students={'Arham':'Blue','Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink'}



 x = students.keys()
 print(x)

 students.pop('Jenny')




 y= len(students)
 print(students)
 keys= list(students.keys())
 keys.sort
 print(d1)


sorted_students = dict(sorted(students.items()))
print("sorted students with fav colors:", sorted_students)

IndentationError: unexpected indent (2931483747.py, line 24)

In [5]:
a = 10
b = 8
temp = a
a = b
b = temp
print(" after swaping ", a,b)

 after swaping  8 10

In [9]:
list1 = [1, 2, 3, 4, 5]
list2 =['a', 'b', 'c', 'd', 'f']
list3 =['true', 'false', 'true', 'false']

print("list 1:", list1)
print("list 2:", list2)
print("list 3:", list3)

list 1: [1, 2, 3, 4, 5]
list 2: ['a', 'b', 'c', 'd', 'f']
list 3: ['true', 'false', 'true', 'false']

In [13]:

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

union_set = set1.union(set2)
print("union:", union_set)

intersection_set = set1.intersection(set2)
print("Intersection:", intersection_set)

difference_set1 = set1.difference(set2)
difference_set2 = set2.difference(set1)
print("Difference (set1 - set2):", difference_set1)
print("Difference (set2 - set1):", difference_set2)

union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection: set()
Difference (set1 - set2): {1, 2, 3, 4, 5}
Difference (set2 - set1): {6, 7, 8, 9, 10}

In [15]:

float_num = float(input("Enter a float number: "))
int_num = int(float_num)
print("Converted Integer:", int_num)

Enter a float number:  2

Converted Integer: 2